@{
    ViewBag.Title = "Contatti";
}
<h2>@ViewBag.Title</h2>
 
 

<address>
    <strong>Team per la Trasformazione Digitale</strong> <a href="mailto:teamdigitale@governo.it">teamdigitale@governo.it</a><br /><br />
</address>