@{
    ViewBag.Title = "Contatti";
}
<h2>@ViewBag.Title</h2>
 
 

<address>
    <strong>Nicolò Carandini</strong>   <a href="mailto:n.carandini@outlook.com">n.carandini@outlook.com</a><br /><br />
    <strong>Antimo Musone:</strong> <a href="mailto:antimo.musone@hotmail.com">antimo.musone@hotmail.com</a>
</address>