<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Errore.</h1>
        <h2> C'è stato un errore imprevisto</h2>
        
    </hgroup>
</body>
</html>
