@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>Applicazione di prova dell'SDK per l'autenticazione ai servizi di Identity Provider SPID</h3>

<br />
<p>
    L'applicazione è configurata per testare le funzionalità di login e logout con il servizio di test di Poste Italiane.
</p>
