<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Errore.</h1>
        <h2> @(ViewBag.Message ?? "C'è stato un errore imprevisto")</h2>
        <h3>@ViewBag.ErrorMessage</h3>
    </hgroup>
</body>
</html>